root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.{cpp,h,c}]
indent_style = space
indent_size = 2

[*.py]
indent_style = space
indent_size = 4

[*.{sh,bash}]
indent_style = tab

[*.{json,toml,yml,yaml}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false
